<template>
    <div>
        <p v-if="messageShow" class="message">{{ messageShow }}</p>
        <div class="qr-fullscreen">
            <!--<p class="decode-result" style="color:#ccc">Scanned: <strong style="color:#fff">{{ name }}</strong>
                <br>
                <input v-model="currentUser" name="adduser" id="adduser" @input="addParticipation(currentUser)" class="form-control user_input" type="text" list="manual" placeholder="Manually add an attendee">
                <datalist id="manual">
                    <option v-for="user in users" v-bind:key="user.upn" v-bind:value="user.upn">{{user.firstname}} {{user.lastname}} (Year {{user.year}})</option>
                </datalist>
            </p>-->
            <qrcode-stream @init="onInit" @decode="onDecode" :paused="paused">
                <div v-if="decodedContent !== null" class="decoded-content">@{{ decodedContent }}</div>
                </qrcode-stream>
        </div>
    </div>
</template>

<script>
    export default {

        data () {
            return {
                paused: false,
                decodedContent: null,
                errorMessage: ''
            }
        },

        methods: {
            onDecode (content) {
                window.location.href = content
            },

            onInit (promise) {
                promise.then(() => {
                    console.log('Successfully initilized! Ready for scanning now!')
                })
                    .catch(error => {
                        if (error.name === 'NotAllowedError') {
                            this.errorMessage = 'Hey! I need access to your camera'
                        } else if (error.name === 'NotFoundError') {
                            this.errorMessage = 'Do you even have a camera on your device?'
                        } else if (error.name === 'NotSupportedError') {
                            this.errorMessage = 'Seems like this page is served in non-secure context (HTTPS, localhost or file://)'
                        } else if (error.name === 'NotReadableError') {
                            this.errorMessage = 'Couldn\'t access your camera. Is it already in use?'
                        } else if (error.name === 'OverconstrainedError') {
                            this.errorMessage = 'Constraints don\'t match any installed camera. Did you asked for the front camera although there is none?'
                        } else {
                            this.errorMessage = 'UNKNOWN ERROR: ' + error.message
                        }
                    })
            }
        }
    }



</script>

<style>
    .message {
        position: fixed;
        z-index: 2001;
        padding: 10%;
        left: 0;
        text-align: center;
        width: 100%;
        background-color: rgba(0, 0, 0, 0.4);
        top: 50%;
        transform: translateY(-50%);
        color: #fff;
    }
    .user_input{
        margin-top: 5px !important;
        width: 90vw !important;
    }

</style>